
* {font-family: 'Playfair Display', serif;
    color: rgb(211, 231, 249);
    box-sizing: border-box;
}
/* ---------all----------*/
body {
    background: black;
    padding: 0px;
    margin: 0px;
}
nav ul li {
    list-style-type: none;
    padding: 10%;
    font-size: 1.5em;
    justify-content: center;
    align-content: space-between;
}

p { 
    text-align: justify;
    text-justify: inter-word;
}

img {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}


h1, h2, h4 {
    font-style: italic;
    width: 100%;

}


.colorTheme {
    background: linear-gradient(135deg, #3f0ce7d5, #faaca8);
}

footer {
    height: 80px;
    bottom: 0px;
}

.colorTheme>p{
        bottom: 0px;
        margin-left:45%;
    }

.flexxy {
        display: flex;
        width: 85%;
        margin-left: 10%;
    }

/*----------index----------*/
.square {
    clip-path: none;
    height: 2em;
    width: 2em;
    border-radius: 2px;
}
/*----------portfolio----------*/
#portfolioSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    margin: 0 30%;
    
}

.portfolio {
    background-color: aliceblue;
    height: 30%;
    width: 50%;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 10%;
    
    }

    /* .portfolio>span {
        position: absolute;
        bottom: 2px;
        left: 16px;
        color:rgb(133, 186, 233)
    } */

#portfolioSection section  img {
    height: 100%;
    width: 100%;
}



    /*----------blog----------*/
.flexxy.blogContainer {
   background-color: red;
}
.blogSection {
    flex-wrap: wrap;
}
.bloggy {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    height: 100px;
    width: 100px;
}


/*-------------------Phone----------------------*/
@media screen and (max-width: 414px) {
    body {
      background-color: lightblue;
    }

 

    header {
        height: 300px;
        display: block;
        align-content: stretch;
        justify-content: center;
        margin: 0px;
        padding: 0px;
}

.portfolio {
    padding-left: 30px;
}
}

/*----------Big Screen-------------*/
@media only screen and (min-width: 1025px) {
body {
    background-color: green;
    }

header {
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
}
nav ul li {
   
    list-style-type:none;
    display: inline-block;
    align-content: space-around;
    height: 100%;
    padding: 10px;
    font-size: 1.5em;
    }
    
#portfolioSection section div {
    display: flex;
    flex-wrap: wrap;
    margin-left: 45%;
}

#holdWelcome {
    display: flex;
    align-items: center;
}

#welcomeImg {
    /* transform: translate (-300px); */
    height: 100%;
    width: 100%;
}

#welcomeTxt {
    padding-top: 5%;
    margin: 5%;

}

}
/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

    background: pink;

}
/*--------------- Small devices (portrait tablets and large phones, 600px and up) ---------------*/
@media only screen and (min-device-width: 414px) and (max-device-width: 1024px) { 

    body {
        background: pink;
    }
    /* header {
        height: 80px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-evenly;
    }
    nav ul li {
   
        list-style-type:none;
        display: inline-block;
        align-content: space-around;
        height: 100%;
        padding: 10px;
        font-size: 1.5em;
        } */
}

/* ---------------Medium devices (landscape tablets, 768px and up) ---------------
@media only screen and (min-width: 768px) {...}


/*

@media only screen and (max-width: 414px) {} */

